body {
    font-family: 'Ibarra Real Nova', serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto Slab', serif;

    
}
.navbar{
    min-height: 90px;
}

.carousel-item{
    height: 40rem;
    
}

.texto-medio{
    
    line-height: 57.6px;
    text-align: start;
}

.d-block{
    width: 100%;
    height: auto;
    margin: auto;
    padding: 20px;
    
}

/* CSS POrtfolio0 */

.galeria{
    display: grid;
    grid-template-columns: repeat(1px, 1px);
    grid-gap: 5px ;
    grid-auto-rows: 70px;
    grid-auto-flow: row dense;
    padding: 15px;
    justify-content: center;
    flex-wrap: wrap;
    
}

.galeria img {
    display: flex;
    align-items: center;
    justify-content: center;
  
    background-color: #ffffff;
    border-radius: 1px;
    transition: transform 0.3s ease-in-out;
  
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    

}
.galeria img:hover {
    filter: opacity(0.9);
    transition: transform 0.3s ease-in-out;
    transform: scale(1.06);
  }

  .galeria {
  
    display: grid;
    grid-template-columns: repeat(2, 0,5fr);
    grid-gap: 5px ;
    grid-auto-rows: 70px;
    grid-auto-flow: row dense;
    padding: 15px;
    justify-content: center;
  
  }
  
  .galeria img {
    width: 100%;
    height: 100%;
    grid-area: span 6 / span 3;
    object-fit: cover;
  }

:hover{
    color: #000;
}

.galeria3 img{
    display: flexbox;
    flex-wrap: wrap-reverse;
    justify-content: space-around;
    max-width: 400px;
    align-items: star;
    object-fit: contain;
    padding-left: 5mm;
    margin: auto;
    

    
}
.galeria3 img:hover {
    filter: opacity(0.9);
    transition: transform 0.3s ease-in-out;
    transform: scale(1.06);
  }
.galeria4 img{
    display: flexbox;
    flex-wrap: wrap-reverse;
    justify-content: space-around;
    max-width: 200px;
    align-items: star;
    object-fit: contain;
    padding-left: 5mm;
    margin: auto;
     }

     .galeria4 img:hover {
        filter: opacity(0.9);
        transition: transform 0.3s ease-in-out;
        transform: scale(1.06);

         }

.galeria5 img{
    
    display: grid;
    justify-content:flex-start;
    max-width: 500px;
    align-content: left;
    float: left;
    
    
    
    

}

     .galeria5 img:hover {
        filter: opacity(0.9);
        transition: transform 0.3s ease-in-out;
        transform: scale(1.06);

}

.mb-2:link{
    
    text-decoration: none;
}


.galeria6 img{
    display: flexbox;
    flex-wrap: wrap-reverse;
    justify-content: space-around;
    max-width: 200px;
    align-items: star;
    object-fit: contain;
    padding-left: 5mm;
    margin: auto;
     }

     .galeria6 img:hover {
        filter: opacity(0.9);
        transition: transform 0.3s ease-in-out;
        transform: scale(1.06);

         }